/* Users and Clients Page Styles */

/** Common Styles for Users and Clients pages **/
.users-clients-div {
  width: 100%;
}

/** Users Section **/
.containerUsersHome {
  display: flex;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.sections {
  border: 7px solid darkgray;
  border-radius: 25px;
  height: 200px;
  width: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sectUersTitles {
  color: darkgray;
  font-weight: bold;
  font-size: 50px;
  font-family: "consolas";
}

.usersContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 100%;
  border: 1px solid black;
  gap: 10px;
}

.users-list-body {
  width: 100%;
}

.user-data {
  padding: 5px;
  width: 320px;

  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: column;

  border: 1px solid rgb(86, 181, 131);
}

.user-data > p {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
}

.title-dato {
  font-weight: bold;
  font-size: 35px;
  justify-content: center;
  margin: 10px;
}

.img-perfil {
  border: 10px solid rgb(175, 132, 23);
  border-radius: 100%;
  color: black;

  width: 175px;
  height: 175px;

  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}

.estado {
  width: 50px;
  height: 50px;
  border: 5px solid lightgray;
  border-radius: 100%;
}

.estado-txt {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.user-btn {
  font-size: 20px;
  height: fit-content;
}

.form-container > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-group > label {
  font-size: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.form-group > input {
  height: 50px;
  width: fit-content;
}

.form-group > .input-text,
.select-text {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.subtitle {
  font-size: 35px;
}

.login-btn {
  font-size: 30px;
  color: rgb(241, 255, 239);

  padding: 10px;
  border-radius: 10px;
  border-left: 5px solid darkgreen;
  border-top: 5px solid darkgreen;
  border-right: none;
  border-bottom: none;
  background-color: forestgreen;
}

.login-btn-click {
  font-size: 30px;
  color: rgb(241, 255, 239);

  padding: 10px;
  border-radius: 10px;
  border-right: 5px solid darkgreen;
  border-bottom: 5px solid darkgreen;
  border-left: none;
  border-top: none;
  background-color: forestgreen;
}

.login-btn:hover {
  cursor: pointer;
}

/** Clients Section **/

.clientsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  border: 1px solid black;
  gap: 20px;
}

.client-Div {
  padding: 10px;
  gap: 20px;
  display: flex;

  border: 1px solid rgb(173, 23, 23);
}

/** Edit User Modal Styles **/

.edit-modal {
  width: 55%;
  height: auto;
  border: 5px solid black;
  border-radius: 10px;
  padding: 0px 20px 20px 20px;
  background-color: #f0f0f0;
}

.edit-modal > h2 {
  font-size: 35px;
  text-align: center;
}

.editUserInputsDiv {
  height: fit-content;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.editUserInputsDiv > div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: start;
  margin: auto;
}

.editUserSelectsDiv {
  height: fit-content;
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.editUserSelectsDiv > div {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: start;
  margin: auto;
}

.userEditFormLabels {
  width: fit-content;
  margin-top: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-weight: bold;
}

.editUserInputsDiv > div > input {
  height: fit-content;
  width: 300px;
  font-size: 25px;
  padding: 10px;

  display: flex;
  align-items: center;
}

.editUserSelectsDiv > div > select {
  height: fit-content;
  width: fit-content;
  font-size: 25px;
}

.user-edit-btn {
  height: fit-content;
  width: 120px;

  padding: 10px;

  font-size: 20px;
}

.user-btns-edit-div {
  width: 300px;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 20px;
}