/*Estilos para la lista de projectos*/
.list-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos para el componente project*/
.box-project {
    border: 1px, solid, black;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.status-project {
    border: 1px, solid, black;
    width: 110px;
    /*height: 50px;*/
    padding: 20px;
}

.client-project {
    border: 1px, solid, black;
    padding: 10px;
    width: 200px;
}

.description-project {
    border: 1px, solid, black;
    padding: 20px;
    width: 500px;
}

.box-list-tasks {
    display: flex;
    flex-direction: column;
    border: 1px, solid, black;
    width: 500px;
    padding: 20px;
    gap: 10px;
}

.box-list-tasks li {
    margin-left: 10px;
}

.box-users-project{
    border: 1px, solid, black;
    padding: 20px;
}
.box-users-project h4{
    margin-top: 0px;
}
.box-users-project ul{
    list-style-type: none;
    padding-left: 0px;
}
.box-users-project ul li{
    margin-bottom: 10px;
}

.box-buttons-project{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.btn-standard{
    border: solid;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}
.btn-cancel{
    border: solid;
    background-color: lightcoral;
    padding: 10px;
    margin: 10px;
}
.btn-new-project{
    border: solid;
    background-color: lightblue;
    margin-bottom: 20px;
    padding: 10px;
}
.btn-card-project{
    border: solid;
    background-color: lightblue;
    padding: 10px;
}

/*Estilos para el componente create project*/
.create-project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-create-project{
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px, solid, black;
    padding: 20px;
    margin-bottom: 30px;
}

.div-create{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
