.list-projects{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.box-project{
    border: 1px, solid, black;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.status-project{
    border: 1px, solid, black ;
    /*width: 50px;
    height: 50px;*/
    padding: 20px;
}