/*Estilos para la lista de projectos*/
.list-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Estilos para el componente project*/
.box-project {
    border: 1px, solid, black;
    width: 800px;
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.status-project {
    border: 1px, solid, black;
    /*width: 50px;
    height: 50px;*/
    padding: 20px;
}

.client-project {
    border: 1px, solid, black;
    padding: 10px;
    width: 200px;
}

.description-project {
    border: 1px, solid, black;
    padding: 20px;
    width: 500px;
}

.box-list-tasks {
    display: flex;
    flex-direction: column;
    border: 1px, solid, black;
    width: 500px;
    padding: 20px;
    gap: 10px;
}

.box-list-tasks li {
    margin-left: 10px;
}

.box-users-project{
    border: 1px, solid, black;
    padding: 20px;
}
.box-users-project h4{
    margin-top: 0px;
}
.box-users-project ul{
    list-style-type: none;
    padding-left: 0px;
}