.containerUsersHome {
    display: flex;
    gap: 50px;
    width: 100%;
    margin-top: 50px;
}

.sections {
    border: 7px solid darkgray;
    border-radius: 25px;
    height: 200px;
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.sectUersTitles {
    color: darkgray;
    font-weight: bold;
    font-size: 50px;
    font-family: 'consolas';
}

.usersContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    border: 1px solid black;
    gap: 10px;
}

.users-list-body {
    width: 100%;
}

.users-div {
    width: 100%;
}

.userDiv {
    padding: 10px;
    gap: 25px;
    display: flex;

    border: 1px solid rgb(173, 23, 23);
}

.user-data {
    padding: 5px;
    width: 320px;
    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    
    border: 1px solid rgb(86, 181, 131);
}

.user-data > p {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 30px;
}

.title-dato {
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
}

.img-perfil {
    border: 10px solid rgb(175, 132, 23);
    border-radius: 100%;
    color: black;
    
    width: 175px;
    height: 175px;

    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.estado {
    width: 50px;
    height: 50px;
    border: 5px solid lightgray;
    border-radius: 100%;
}

.estado-txt {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.del-btn {
    font-size: 20px;
    height: fit-content;
}

.form-group > label {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form-group > input {
    height: 50px;
}