.containerUsersHome {
    display: flex;
    gap: 50px;
    
    margin-top: 50px;
}

.sections {
    border: 7px solid darkgray;
    border-radius: 25px;
    height: 200px;
    width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    
}

.sectUersTitles {
    color: darkgray;
    font-weight: bold;
    font-size: 50px;
    font-family: 'consolas';
}

button {
    border: none;
    background-color: transparent;
}

.usersContainer {
    padding: 10px;
    padding-left: 0px;
    display: grid; 
    gap: 50px;
}

.userDiv {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 775px;
    padding: 25px;
    align-items: center;
    gap: 50px;
    display: flex;
}

.user-data {
    padding: 5px;
    width: 500px;
    
    font-size: 35px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.user-data > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.title-dato {
    font-weight: bold;
    font-size: 35px;
    justify-content: center;
    margin: 10px;
}

.img-perfil {
    border: 10px solid rgb(175, 132, 23);
    border-radius: 100%;
    color: black;
    
    width: 175px;
    height: 175px;

    font-family: sans-serif;
    font-size: 100px;
    font-weight: bold;
    
    display: flex;
    align-items: center;
    justify-content: center;
}